# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [18]:
# Initial imports
import pandas as pd
import numpy as np
import random, os
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()

True

In [19]:
# Create a connection to the database
username = os.getenv('postgres_username')
password = os.getenv('postgres_password')
server = os.getenv('postgres_server')
port = os.getenv('postgres_port')
database = os.getenv('postgres_database')
engine = create_engine(f"postgresql://{username}:{password}@{server}:{port}/{database}")

In [20]:
# Create cardholder table for reference
query = '''
        SELECT *
        FROM card_holder
        '''
cardholders = pd.read_sql(query, engine)
cardholders.head()

   cardholder_id              name
0              1    Robert Johnson
1              2     Shane Shaffer
2              3  Elizabeth Sawyer
3              4    Danielle Green
4              5       Sara Cooper

In [21]:
# Write function that locates outliers using standard deviation
def outliers_std(cardholder):
    std = np.std(cardholder['amount'])
    mean = np.mean(cardholder['amount'])
    outliers = cardholder[(cardholder['amount'] < (mean - 2 * std)) & (cardholder['amount'] > (mean + 2 * std))]
    cardholder_outliers_omitted = cardholder[(cardholder['amount'] > (mean - 2 * std)) & (cardholder['amount'] < (mean + 2 * std))]

In [22]:
# Find anomalous transactions for 3 random card holders
ids = random.sample(range(cardholders['cardholder_id'].min(), cardholders['cardholder_id'].max()), 3)
for id in ids:
    query = ('SELECT card_holder.cardholder_id, transaction.amount, transaction.date'
            ' FROM card_holder'
            '    INNER JOIN credit_card on card_holder.cardholder_id = credit_card.cardholder_id'
            '    INNER JOIN transaction on transaction.card_number = credit_card.card_number'
            f' WHERE card_holder.cardholder_id in ({id});')
    cardholder = pd.read_sql(query, engine)
    outliers_std(cardholder)

## Identifying Outliers Using Interquartile Range

In [39]:
# Write a function that locates outliers using interquartile range
def outliers_interquartile(cardholder):
    cardholder.sort_values('amount', axis=0, inplace=True)
    median = np.median(cardholder['amount'])
    Q1 = np.median(cardholder['amount'][:int(len(cardholder)/2)])
    Q3 = np.median(cardholder['amount'][int(len(cardholder)/2):])
    interquartile_range = Q3 - Q1
    inner_fence = [Q1 - interquartile_range * 1.5, Q3 + interquartile_range * 1.5]
    outer_fence = [Q1 - interquartile_range * 3, Q3 + interquartile_range * 3]
    minor_outliers = cardholder[(cardholder['amount'] < inner_fence[0]) | (cardholder['amount'] > inner_fence[1]) & (cardholder['amount'] > outer_fence[0]) | (cardholder['amount'] < outer_fence[1])]
    major_outliers = cardholder[(cardholder['amount'] < outer_fence[0]) | (cardholder['amount'] > outer_fence[1])]
    cardholder_wo_all_outliers = cardholder[(cardholder['amount'] > inner_fence[0]) & (cardholder['amount'] < inner_fence[1])]
    cardholder_wo_major_outliers = cardholder[(cardholder['amount'] > outer_fence[0]) & (cardholder['amount'] < outer_fence[1])]

In [40]:
# Find anomalous transactions for 3 random card holders
ids = random.sample(range(cardholders['cardholder_id'].min(), cardholders['cardholder_id'].max()), 3)
for id in ids:
    query = ('SELECT card_holder.cardholder_id, transaction.amount, transaction.date'
            ' FROM card_holder'
            '    INNER JOIN credit_card on card_holder.cardholder_id = credit_card.cardholder_id'
            '    INNER JOIN transaction on transaction.card_number = credit_card.card_number'
            f' WHERE card_holder.cardholder_id in ({id});')
    cardholder = pd.read_sql(query, engine)
    outliers_interquartile(cardholder)

     cardholder_id  amount                date
142             19    0.61 2018-09-21 07:53:08
194             19    0.78 2018-12-20 08:00:01
80              19    0.82 2018-05-24 00:29:49
108             19    1.13 2018-07-24 06:24:21
186             19    1.18 2018-12-02 15:46:59
55              19    1.21 2018-04-08 20:15:13
114             19    1.37 2018-07-29 06:02:10
134             19    1.39 2018-09-02 14:39:31
201             19    1.45 2018-12-26 19:55:23
46              19    1.52 2018-03-30 16:04:04
17              19    1.54 2018-02-01 21:52:43
37              19    1.56 2018-03-18 20:00:59
122             19    1.57 2018-08-09 06:00:26
87              19    1.62 2018-06-07 07:07:22
153             19    1.63 2018-10-05 22:12:25
133             19    1.65 2018-09-01 04:58:06
67              19    1.72 2018-04-29 08:03:32
100             19    1.75 2018-07-08 14:04:49
58              19    1.77 2018-04-09 19:04:52
167             19    1.86 2018-11-02 12:14:33
144             19    1.89 2018-09-24 08:19:07
0               19    1.91 2018-01-03 21:04:28
132             19    2.01 2018-08-30 21:18:06
105             19    2.06 2018-07-19 11:23:42
13              19    2.06 2018-01-29 13:38:21
162             19    2.09 2018-10-23 01:00:37
61              19    2.38 2018-04-15 13:10:04
22              19    2.45 2018-02-08 11:06:06
20              19    2.53 2018-02-06 18:29:49
29              19    2.55 2018-02-25 08:52:38
..             ...     ...                 ...
84              19   15.90 2018-06-01 04:45:39
101             19   15.91 2018-07-12 15:54:29
25              19   15.95 2018-02-15 19:33:13
112             19   15.97 2018-07-27 03:17:25
51              19   16.22 2018-04-05 01:29:17
106             19   16.74 2018-07-21 06:21:42
183             19   16.88 2018-12-01 09:52:14
10              19   17.08 2018-01-26 21:32:03
154             19   17.15 2018-10-06 17:23:46
195             19   17.27 2018-12-20 22:25:58
138             19   17.39 2018-09-14 12:17:17
9               19   17.58 2018-01-26 14:06:47
127             19   17.62 2018-08-25 04:14:56
135             19   17.62 2018-09-09 06:42:54
14              19   17.99 2018-01-29 17:25:24
177             19   18.09 2018-11-22 03:19:02
143             19   18.30 2018-09-21 15:48:02
38              19   18.41 2018-03-20 15:18:33
190             19   18.42 2018-12-06 15:28:17
160             19   18.51 2018-10-20 19:06:35
18              19   18.53 2018-02-03 16:34:30
48              19   18.59 2018-03-31 12:54:47
115             19   18.93 2018-08-02 07:44:24
74              19   19.07 2018-05-12 20:04:36
185             19   19.08 2018-12-02 05:02:02
81              19   19.26 2018-05-24 18:15:52
70              19   19.55 2018-05-03 14:42:32
27              19   19.58 2018-02-22 06:40:21
99              19   20.60 2018-07-07 21:48:04
151             19   22.29 2018-10-02 14:13:38

[205 rows x 3 columns]
    cardholder_id  amount                date
3              17    0.72 2018-01-28 19:30:38
36             17    1.75 2018-07-28 21:24:13
16             17    1.92 2018-04-19 22:50:46
46             17    1.95 2018-09-25 12:53:26
55             17    2.35 2018-11-19 23:25:26
24             17    2.43 2018-05-17 07:39:47
52             17    2.45 2018-10-26 21:47:56
0              17    2.50 2018-01-07 20:35:00
42             17    2.74 2018-09-11 14:56:32
11             17    2.94 2018-03-18 19:05:54
5              17    3.12 2018-03-02 02:48:43
56             17    3.62 2018-11-21 00:15:23
19             17    3.69 2018-04-26 21:24:12
57             17    3.85 2018-11-22 14:29:40
32             17    4.11 2018-07-10 01:28:54
43             17    5.19 2018-09-11 23:41:42
49             17    5.33 2018-10-06 04:32:08
26             17    5.33 2018-05-31 04:38:30
1              17    5.55 2018-01-11 09:27:30
39             17    6.25 2018-08-13 00:05:01
34             17    6.40 2018-07-19 22:50:06
59             17    8.73 2018-12-13 21:07:27
45             17    8.85 2018-09-18 22:32:47
9              17   10.02 2018-03-14 22:20:54
6              17   10.06 2018-03-02 19:40:34
27             17   10.07 2018-06-09 20:17:45
53             17   10.12 2018-10-31 05:37:59
13             17   10.15 2018-03-24 22:30:49
30             17   10.20 2018-06-26 09:10:08
21             17   10.27 2018-05-05 17:04:49
..            ...     ...                 ...
44             17   10.60 2018-09-14 09:06:43
31             17   10.85 2018-06-28 20:29:05
10             17   10.90 2018-03-15 13:06:10
38             17   10.92 2018-08-06 18:50:32
25             17   11.07 2018-05-18 06:43:35
15             17   11.24 2018-04-15 12:00:10
12             17   11.36 2018-03-22 23:42:48
51             17   11.38 2018-10-14 03:23:33
2              17   11.63 2018-01-22 22:48:50
33             17   11.95 2018-07-13 16:44:22
22             17   12.39 2018-05-12 00:26:44
48             17   12.47 2018-10-04 16:51:12
14             17   13.83 2018-04-05 04:38:57
47             17   13.97 2018-09-29 23:52:14
28             17   14.54 2018-06-25 05:30:04
17             17   14.95 2018-04-21 05:01:18
35             17   15.06 2018-07-26 16:02:22
54             17   15.29 2018-11-01 05:00:05
50             17   15.73 2018-10-12 04:42:04
58             17   16.04 2018-12-08 19:26:39
60             17   16.44 2018-12-16 17:00:56
41             17   16.92 2018-09-09 19:03:51
23             17   17.40 2018-05-14 03:38:11
20             17   17.90 2018-04-27 05:53:14
29             17   17.90 2018-06-25 16:31:00
7              17   18.11 2018-03-09 00:13:59
18             17   18.48 2018-04-21 18:48:54
37             17   18.67 2018-08-05 20:20:23
40             17   20.42 2018-08-31 00:26:28
8              17   22.49 2018-03-12 05:29:57

[61 rows x 3 columns]
     cardholder_id  amount                date
73               4    0.70 2018-07-02 04:53:58
42               4    0.86 2018-04-27 17:08:12
136              4    1.01 2018-12-01 23:15:08
77               4    1.08 2018-07-08 02:51:05
50               4    1.29 2018-05-20 09:22:21
31               4    1.41 2018-03-29 00:33:24
32               4    1.44 2018-04-06 02:30:41
143              4    1.45 2018-12-21 01:16:45
117              4    1.54 2018-10-02 07:39:36
49               4    1.56 2018-05-12 16:10:59
33               4    1.59 2018-04-06 13:45:51
121              4    1.67 2018-10-11 08:58:22
58               4    1.89 2018-06-04 17:48:07
113              4    1.91 2018-09-26 22:07:52
123              4    1.93 2018-10-25 10:50:01
23               4    1.94 2018-03-04 12:58:48
95               4    2.04 2018-08-08 21:11:24
107              4    2.05 2018-09-02 07:33:42
22               4    2.05 2018-03-02 17:44:08
6                4    2.17 2018-01-20 02:23:13
111              4    2.21 2018-09-17 14:30:12
3                4    2.22 2018-01-13 18:34:36
54               4    2.32 2018-05-27 16:46:41
115              4    2.37 2018-10-01 06:20:54
97               4    2.48 2018-08-12 06:21:03
110              4    2.57 2018-09-16 11:16:41
108              4    2.68 2018-09-16 02:51:35
89               4    2.74 2018-08-01 01:50:28
41               4    2.90 2018-04-24 20:59:51
103              4    2.97 2018-08-29 01:56:38
..             ...     ...                 ...
46               4   15.72 2018-05-08 00:22:19
25               4   15.73 2018-03-05 00:15:21
35               4   15.81 2018-04-10 12:54:34
144              4   16.16 2018-12-24 10:13:57
109              4   16.41 2018-09-16 10:39:48
10               4   16.54 2018-01-26 05:10:21
44               4   16.64 2018-05-03 07:20:28
11               4   16.73 2018-01-29 23:55:06
146              4   16.81 2018-12-26 21:56:44
124              4   17.08 2018-10-26 19:29:14
145              4   17.21 2018-12-26 04:52:48
133              4   17.31 2018-11-16 02:00:32
2                4   17.43 2018-01-08 19:31:23
147              4   17.45 2018-12-27 01:02:19
102              4   17.63 2018-08-22 03:43:29
17               4   17.63 2018-02-16 18:57:43
92               4   17.66 2018-08-04 22:07:57
114              4   17.76 2018-09-30 23:33:12
130              4   18.20 2018-11-03 16:10:32
139              4   18.29 2018-12-16 04:36:59
27               4   18.56 2018-07-07 13:13:54
86               4   18.93 2018-07-28 03:14:27
0                4   19.03 2018-01-01 23:13:30
101              4   19.09 2018-08-19 15:54:42
45               4   19.12 2018-05-06 01:55:32
106              4   19.16 2018-09-01 04:02:52
88               4   19.23 2018-07-31 04:54:33
57               4   19.49 2018-06-04 08:30:28
19               4   20.88 2018-02-20 17:03:54
80               4   21.50 2018-07-17 04:19:38

[148 rows x 3 columns]